h1 {
    /* font-family: "Lilita One", sans-serif; */
    color: rgb(252, 182, 234);
    -webkit-text-stroke: 2px rgb(133, 184, 216);
    font-weight: 500;
}

.center-content {
    display: flex;
    justify-content: center;
}

* {
    /* font-family: "Jersey 20", sans-serif; */
    font-weight: 100;
    color: rgb(53, 52, 52);
}