<!DOCTYPE>
<html>
    <head>
        <style>
             .terminal-text {
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 400;
            }

            @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }

        .blinking-div {
            animation: blink 0.8s infinite;
        }

        /* Optional styling for the blinking div */
        .blinking-div {
            width: 100px;
            height: 100px;
       
        }
       
        </style>
    </head>
    <body>
        <div class="flex flex-col w-3/5 gap-4">

        <div class="dropdown-window-one-container flex flex-col border-2  border-black rounded-xl bg-yellow-200 ">
            <div class="bg-red-300 flex justify-end gap-4 pt-2 pb-2 border-b-2 border-black pr-4 rounded-t-xl">
                <div style="height: 28px; display: flex; gap: 5%;">
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined pr-0.5">minimize</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined pr-0.5 ">square</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined pr-0.5">close</span></div>
                </div>
            </div>
            <div class="border-b-2 border-black flex justify-between pt-2 pb-2 pr-4 pl-4 gap-2">
                <div class="text-xl flex justify-center"><p>Projects</p></div>
                <div class="w-full text-xl">
                    <select ng-model="selectedProject" ng-options="project.title for project in projectsCarousel" ng-change="displaySelectedProject()" class="custom-select w-3/4 border-2 border-black pl-2"></select>
                </div>
              
            </div>
            <div>
                <div class="flex gap-2 h-full">
                    <div class="bg-white w-full border-2 border-black mt-4 ml-4 mr-4 mb-4">
                        <div style="height: 450px; width: 100%; background-color: #3131ff;">
                            <img ng-if="selectedProject" style="height: 450px; width: 100%;" src="{{ selectedProject.image }}">
                            <div ng-hide="selectedProject" style="height: 100%; width: 100%; transform: translateY(50px); margin-bottom: 15%;">
                                <div class="border-black border-2 bg-white flex justify-center mx-8">
                                    <div class="mb-4">
                                    <div class="flex gap-4 my-6 mt-8"><div><span class="material-symbols-outlined" style="color: white; font-size: 40px; background-color: red; border-radius: 50%; border: 2px solid black;">close</span></div> <div class="mt-1"><span class="text-3xl"><p>No project selected</p></span></div></div>
                                    <div style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border: 2px solid black; width: 70px; margin-left: 35%; margin-bottom: 5%;"><p class="text-3xl pl-4 ">OK</p></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--Scroll-->
                   
                    <div class="flex flex-col content-between border-l-2 border-black">
                        <div class="border-2 border-black"><span class="material-symbols-outlined">arrow_drop_up</span></div>
                            <div style="height: 100%;"> <div style="width: 100%; height: 20%; background-color: orangered; border-radius: 45%; border: 2px solid black; transform: translateY(60px)"></div></div>
                        <div class="border-2 border-black"><span class="material-symbols-outlined">arrow_drop_down</span></div>
        
                </div>
                </div>
            </div>

            <div style="height: 20px; width: 100%; background-color: none; border: 2px solid black; border-bottom: none; border-left: none; border-right: none;">
                <div style="width: 40%; height: 100%; background-color: none; border: 2px solid black; border-left: none; border-top: none; border-bottom: none;"></div>
                        </div>
        </div>

        <div class="window-four-container border-2 border-black rounded-xl bg-black w-full h-full">
            <div class="bg-gray-200 flex justify-end gap-4 pt-2 pb-2 border-b-2 border-black pr-4 rounded-t-xl">
                <div style="height: 28px; display: flex; gap: 5%;">
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">minimize</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined ">square</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">close</span></div>
                </div>
            </div>
            <div style="width: 100%; margin-left: 4%; margin-bottom: 4%;">
                    <div class="terminal-text text-green-300 text-lg pt-6">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text ">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: MARS WEATHER APP LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: MARS WEATHER APP LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: MARS WEATHER APP LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg flex"><div class="terminal-text text-green-300">RaquelCruz@RaquelCruz: </div><div class="blinking-div terminal-text text-green-300 bg-green-300 ml-2 mt-0.5" style="width: 10px; height: 20px;"></div> </div>
                    
            </div>
        </div>

        <div>
            


        </div>
       

       

            <div ng-if="selectedProject" style=" width: 100%;">
                <div class="window-two-container border-2 border-black rounded-xl bg-white w-full">
                    <div class="bg-pink-200 flex justify-end gap-4 pt-2 pb-2 border-b-2 rounded-t-xl border-black pr-4">
                        <div style="height: 28px; display: flex; gap: 5%;">
                            <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">minimize</span></div>
                            <div class="bg-white border-2 border-black"><span class="material-symbols-outlined ">square</span></div>
                            <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">close</span></div>
                        </div>
                    </div>
                    <div style="height: 100%; z-index: 2000;">
                        <div class="h-full px-4 py-4"><p class="text-3xl">{{ selectedProject.caption }}</p></div>
                    </div>
                </div>
            </div>



           
        

        <div  ng-if="selectedProject" style="display: flex; margin-bottom: 10%; width: 100%;">
            <div class="window-two-container border-2 border-black rounded-xl bg-white w-full">
                <div class="bg-yellow-300 flex justify-end gap-4 pt-2 pb-2 border-b-2 rounded-t-xl border-black pr-4">
                    <div style="height: 28px; display: flex; gap: 5%;">
                        <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">minimize</span></div>
                        <div class="bg-white border-2 border-black"><span class="material-symbols-outlined ">square</span></div>
                        <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">close</span></div>
                    </div> 
                </div>
                <div style="width: 100%">
                    <div class="px-4 py-4"><p class="text-3xl">{{ selectedProject.stack }}</p></div>
                </div>
            </div>
        </div>

        

        </div>

    
    
    </body>
</html>