<!DOCTYPE html>
<html>
    <head>
        <style>
      .truncated-square {
    width: 14vw; /* Adjust width as needed */
    height: 20vh; /* Adjust height as needed */
    background-color: rgb(255, 174, 225); /* Adjust color as needed */
    border: 2px solid black;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%); */
    clip-path: polygon(100% 10%, 100% 100%, 0% 100%, 0% 35%, 30% 10%);
    transform: scaleX(-1);
}

        </style>

    </head>
    <body>
        <div class="rounded-b-md flex">
            <div class="border-l-2 border-black border-t-2 rounded-tl-xl rounded-bl-xl">
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-top-left-radius: 12px;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-bottom: 2px solid black; border-bottom-left-radius: 12px;"></div>

                
            </div>

            <div class="border-t-2 border-black">
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink;"><div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-left: 2px solid black; border-top: 2px solid black; border-top-left-radius: 14px;"></div></div>
                <div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-bottom: 2px solid black; border-left: 2px solid black;"></div>

            </div>

            <div class="border-t-2 border-black">
<div style="background-color:hotpink;"><div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-left: 2px solid black; border-bottom: 2px solid black; border-bottom-left-radius: 12px;"></div></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-top: 2px solid black;"></div>
                <div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-bottom: 2px solid black;"></div>
            </div>

            <div class="border-t-2 border-black">
<div style="background-color: hotpink; "><div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-right: 2px solid black; border-bottom: 2px solid black; border-bottom-right-radius: 12px;"></div></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-top: 2px solid black;"></div>
                <div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-bottom: 2px solid black;"></div>
            </div>

            <div class="border-t-2 border-black">
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink;"><div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-right: 2px solid black; border-top: 2px solid black; border-top-right-radius: 14px;"></div></div>
                <div style="background-color: orange; width: 0.8vw; height: 0.8vh; border-bottom: 2px solid black; border-right: 2px solid black;"></div>
            </div>

            <div class="rounded-br-xl">
                <div style="background: linear-gradient(to top right, hotpink 50%, transparent 50%); width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: hotpink; width: 0.8vw; height: 0.8vh; border-bottom: 2px solid black; border-right: 2px solid black; border-bottom-right-radius: 12px;"></div>
            </div>
        </div>
    </body>
</html>