<!DOCTYPE html>
<html>
    <head>
        <style>
      .truncated-square {
    width: 14vw; /* Adjust width as needed */
    height: 20vh; /* Adjust height as needed */
    background-color: rgb(255, 174, 225); /* Adjust color as needed */
    border: 2px solid black;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%); */
    clip-path: polygon(100% 10%, 100% 100%, 0% 100%, 0% 35%, 30% 10%);
    transform: scaleX(-1);
}

        </style>

    </head>
    <body>
        <div style="display: flex;">
            <div class="border-l-2 border-black border-t-2 border-b-2">
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
            </div>

            <div class="border-t-2 border-black border-b-2">
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>

            </div>

            <div class="border-t-2 border-black border-b-2">
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
            </div>

            <div class="border-tr-2 border-black border-b-2">
                <div style="background-color: none; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-top: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
            </div>

            <div class="border-b-2 border-black">
                <div style="background-color: none; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-top: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh;"></div>
            </div>

            <div class="border-black border-b-2">
                <div style="background-color: none; width: 0.8vw; height: 0.8vh;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-top: 2px solid black; border-right: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
                <div style="background-color: skyblue; width: 0.8vw; height: 0.8vh; border-right: 2px solid black;"></div>
            </div>
        </div>
    </body>
</html>