<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="window-four-container border-2 border-black rounded-xl bg-black w-full h-full">
            <div class="bg-gray-200 flex justify-end gap-4 pt-2 pb-2 border-b-2 border-black pr-4 rounded-t-xl">
                <div style="height: 28px; display: flex; gap: 5%;">
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">minimize</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined ">square</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">close</span></div>
                </div>
            </div>
            <div style="width: 500px; margin-left: 4%; margin-bottom: 4%;">
                    <div class="terminal-text text-green-300 text-lg pt-6">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text ">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: MARS WEATHER APP LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: MARS WEATHER APP LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: MARS WEATHER APP LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    <div class="terminal-text text-green-300 text-lg">RaquelCruz@RaquelCruz: AI ASSISTANT LINK: <a href="https://www.exampleapp.com" class="underline text-green-200 terminal-text">HERE!!</a></div>
                    
            </div>
        </div>

    </body>
</html>