<!DOCTYPE>
<html>
    <head>

    </head>
    <body>
        <div class="window-three-container border-2 border-black rounded-xl bg-white w-2/4">
            <div class="bg-blue-200 flex justify-end gap-4 pt-2 pb-2 border-b-2 rounded-t-xl border-black pr-4">
                <div style="height: 28px; display: flex; gap: 5%;">
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">minimize</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined ">square</span></div>
                    <div class="bg-white border-2 border-black"><span class="material-symbols-outlined">close</span></div>
                </div>
            </div>
            <div style="height: 30vh;">

            </div>
        </div>
    </body>
</html>