<!DOCTYPE>
<html>
    <head>

    </head>
    <body>
        <div class="window-one-container border border-solid border-black rounded bg-white w-2/4">
            <div class="bg-purple-200 flex justify-end gap-4 pt-2 pb-2 border border-bottom border-solid border-black pr-2">
                <div class="bg-white border border-solid border-black"><span class="material-symbols-outlined">minimize</span></div>
                <div class="bg-white border border-solid border-black"><span class="material-symbols-outlined ">square</span></div>
                <div class="bg-white border border-solid border-black"><span class="material-symbols-outlined">close</span></div>
            </div>
            <div style="height: 30vh;">

            </div>
        </div>
    </body>
</html>